src/__pycache__
*.csv
!data/csvs/cleaned/*.csv
!data/csvs/raw/*.csv
demo_images/*.png
.DS_Store
driver.py

# bugreport MWE for https://github.com/opencv/opencv/issues/19924
src/mwe_debug.py

data/clean.ipynb
data/graph.ipynb
