src/__pycache__
*.csv
!data/csvs/cleaned/*.csv
!data/csvs/raw/*.csv
demo_images/*.png
.DS_Store

# bugreport MWE for https://github.com/opencv/opencv/issues/19924
mwe_debug.py
driver.py

data/clean.ipynb
data/graph.ipynb